*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile{
    display: flex;
    margin-top: 40px;
}

.profile-image{
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
}

